<div class="header">
    <div class="header__top">
        <div class="header__top--left">
            <a routerLink="/" class="brand">
                <img src="../../assets/images/brand.png" alt="">
            </a>
            <div class="brandtext"></div>
            <div class="otherbrand"></div>
        </div>
        <div class="header__top--right">
            <div class="searchbox">
                <input [(ngModel)]="searchWord" (keyup.enter)="search()" type="search" placeholder="Search...">
                <div class="search"></div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <nav class="nav">
            <ul class="navlist">
                <li class="navlist__item"><a routerLink="">Products</a>
                    <div class="item-menu products">
                        <div class="allproducts">
                            <div class="products-listbox single">
                                <div class="products-listbox--top"
                                    style="background-image:url(../../assets/buildmate/DIY/10.jpg)">
                                </div>
                                <div class="products-listbox--bottom">
                                    <button class="mybtn">View All X Products</button>
                                </div>
                            </div>

                        </div>
                        <div class="groupedProducts">
                            <div *ngFor="let company of dataStore.companies" class="catproducts">
                                <div class="products-listbox">
                                    <div class="products-listbox--top">
                                        <a class="topstrip" style="background-color: yellow;" [routerLink]="['/search',company.companyName]">{{company.companyName}}</a>
                                        <div class="topbody">
                                            <div *ngFor="let category of company.categories" class="accorditem">
                                                <input type="checkbox" [id]="category.categoryName">
                                                <label class="head" [for]="category.categoryName">
                                                    <span style="background-color: blue;" class="cbox"></span> <a [routerLink]="['/search',company.companyName,category.categoryName]">{{category.categoryName}}</a>
                                                    <span class="fa fa-arrow-up"></span>
                                                </label>
                                                <div class="body">
                                                    <ul>
                                                        <li *ngFor="let subCategory of category.subCategories"><a [routerLink]="['/search',company.companyName,category.categoryName,subCategory.categoryName]">{{subCategory.categoryName}}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-listbox--bottom">
                                        <a [routerLink]="['search',company.companyName]" class="mybtn">View All {{company.companyName}} Products</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </li>
                <li class="navlist__item"><a routerLink="/aboutus">About us</a>
                    <ul class="item-menu navlist">
                        <li class="navlist__item"><a routerLink="/videos">Videos</a></li>
                        <li class="navlist__item"><a routerLink="/aboutus/group">Group</a></li>
                        <li class="navlist__item"><a routerLink="/aboutus/history">History</a></li>
                        <li class="navlist__item"><a routerLink="/aboutus/contactus">Contact us</a></li>
                        <!-- <li class="navlist__item"><a routerLink="/videos">Career</a></li> -->
                    </ul>
                </li>
                <li class="navlist__item"><a routerLink="/downloads">Downloads</a></li>
                <li class="navlist__item"><a routerLink="/faqs">Faqs</a></li>
                <li class="navlist__item"><a routerLink="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</div>