.header {
  width: 100%;
  position: fixed;
  left: 5rem;
  top: 0rem;
  width: calc(100% - 10rem);
  z-index: 5000;
  //overflow: hidden;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0.5rem 1rem;
    background-color:var(--black);
    &--left {
      display: flex;
      align-items: flex-end;
      .brand {
        display: inline-block;
        margin-left: 2rem;
        width:5rem;
        border-radius: .3rem;
      }
      .brandtext{
        color:white;
        margin: 0rem 2rem;
        align-self: flex-end;
        text-transform: uppercase;
        
      }
      .otherbrand{
        width:17rem;
      }
    }
    &--right {
      position: relative;
    }
  }
  &__bottom {
    height: 5rem;

    .nav {
      height: 100%;
      .navlist {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        &__item {
          height: 100%;
          flex: 1 1;
          text-transform: uppercase;
          background-color: var(--color-secondary);
          //color: var(--color-primary);
          color:white;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          transition:all .2s;
          & > a {
            //color: var(--color-primary);
            color:white;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
          }
          &:hover {
            background-color: var(--light-black);
            color: rgb(204, 203, 203);
            & > a {
              color: rgb(204, 203, 203);
              font-weight: bolder;
            }
            .item-menu {
              display: block;
              width: 100%;
              position: absolute;
              left: 0;
              top: 100%;
            }
            .item-menu.products {
              display: flex;
            }
          }
          .item-menu {
            display: none;
            text-transform: initial;
          }
          .item-menu.products {
            background-color: #eeeeee;
            //height: calc(100vh - 15rem);
            height: 47rem;
            width: calc(100vw - 11.75rem);
            .allproducts {
              width: 25%;
              height: 100%;
              display: flex;
            }
            .groupedProducts{
                height:100%;
                overflow:auto;
                width: 100%;
                white-space: nowrap;
                overflow-y:hidden;
              .catproducts {
                width: 35rem;
                height: calc(100% - 2rem);
                display: flex;
                overflow-x: auto;
                display: inline-block;
                overflow:hidden;
                margin: 1rem;
                .products-listbox {
                  height: calc(100% - 3rem);
                }
              }
            }
          }
        }
        .navlist {
          height: auto;
          width: 100%;
          &__item {
            height: 5rem;
          }
        }
      }
    }
  }
}

.products-listbox.single {
  width: 100%;
  .products-listbox--top{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    span{
      widows: 0.5rem;
      height:.5rem;
    }
    a{
      color:black;
    }
  }
}
.products-listbox {
  background-color: white;
  //margin: 2.5rem;
  &--top {
    background-color: white;
    height: calc(100% - 5rem);
    background-repeat: no-repeat;
    //background-size: cover;
    background-position: center;
    position: relative;
    .topstrip {
      text-align: center;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      padding: 0.5rem;
      color:var(--black);
      position: absolute;
      left:0;
      top:-3.2rem;
      width:100%;
    }
    .topbody{
      margin-top:3.5rem;
      padding:1rem;
      height: 100%;
      overflow: auto;
    }
  }
  &--bottom {
    border-top: 1px solid rgb(187, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
  }
}
