<div class="footer">
     <div class="pfooteractions">
        <div class="pages">
            <div class="pages__header">Pages</div>
            <div class="pages__body">
                <ul>
                    <li><a routerLink="/">-Products</a></li>
                    <li><a routerLink="/aboutus">-About Us</a></li>
                    <li><a routerLink="/videos">-Video</a></li>
                    <li><a routerLink="/blog">-blog</a></li>
                    <li><a routerLink="/aboutus/group">-Group</a></li>
                    <li><a routerLink="/aboutus/history">-History</a></li>
                    <li><a routerLink="/aboutus/contactus">-Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="categories">
            <div class="categories__header">Patners</div>
            <div class="categories__body">
                <ul *ngIf="dataStore.companies">
                    <li *ngFor="let company of dataStore.companies"><a [routerLink]="['/search',company.companyName]">-{{company.companyName}}</a></li>
                </ul>
            </div>
        </div>
        <div class="contact">
            <div class="contact__header">contact</div>
            <div class="contact__body">
                <ul>
                    <li>Tel:0557560016</li>
                    <li>Buildmate Specialist Product Limited</li>
                    <li>19 Kojo Thompson Road</li>
                    <li>Opp. F Malawi Eng.</li>
                    <li>Tudu Lebanon House</li>
                    <li>Accra- Ghana.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pfooter">
        <div class="pfooter__left">
                <a routerLink="/" class="brand">
                    <img src="../../assets/images/bd2.png" alt="">
                </a>
                <div class="brandtext">The Building Clinic</div>
                <div class="otherbrand">
                        <img src="../../assets/images/mate1.png" alt="">
                </div>
        </div>
        <div class="pfooter__middle">
            <a href="https://www.facebook.com/buildmategh/" class="sociallink"><i class="fa fa-facebook"></i></a>
            <div class="sociallink"><i class="fa fa-linkedin"></i></div>
            <div class="sociallink"><i class="fa fa-youtube"></i></div>
            <div class="sociallink"><i class="fa fa-twitter"></i></div>
        </div>
        <div class="pfooter__right">
            <div class="text">@ Copyright Buildmate 2019</div>
        </div>
    </div>
</div>