<app-header></app-header>
<div class="bg"></div>
<div class="aboutus">
    <app-breadcrump crump="Home > About us" navText="About Us"></app-breadcrump>
    <div class="picspace"></div>
    <div class="info-space1">
        <div class="info-space1__header">BuildMate</div>
        <div class="info-space1__body">Buildmate Specialist Product Limited is registered under the Ghana
                Company’s Code. Buildmate Special Products Limited is a company that
                deals in the wholesale and retail of Special chemicals and products for
                construction, and special effects products for building decorations.
                Essentially targeting the special building needs of the people.
                Buildmate Special Products Limited operates in Ghana with its sole office
                and showroom located at Tudu- Accra and two warehouses at Achimota
                and Amasaman on the Accra- Kumasi Road.
                The company has a well dedicated and qualified team, whose benefactions
                have already supplemented the quality of services rendered by the
                company.</div>
    </div>
    <div class="info-space2">
        <div class="info-space2__header">IF IT MATTERS WE MAKE IT</div>
        <div class="info-space2__body">
            <div class="info-space2__infobox">
                <img src="https://images.unsplash.com/photo-1496247749665-49cf5b1022e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="">
                <div class="img-title">WORLD CLASS MANUFACTURING</div>
                <div class="img-desc">Over 80% of our range is manufactured in our own factory with large scale
                    manufacturing capacity across all our core product areas, we can produce in excess of 55 million
                    cartridges a year and with our new polymer plant we even make our own PVA, Wood Adhesive and Acrylic
                    Polymers.

                    Our manufacturing plant gives Everbuild - A Sika Company the ability to compete on a global scale,
                    and our customers the peace of mind that they are dealing with a manufacturer with in-depth
                    technical ability.</div>
            </div>
            <div class="info-space2__infobox">
                <img src="https://images.unsplash.com/photo-1513828646384-e4d8ec30d2bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="">
                <div class="img-title">WORLD CLASS SERVICE</div>
                <div class="img-desc">With 99% stock availability, over 99% order and picking accuracy, dedicated sales
                    contacts, highly developed order collation, quick order turn arounds and rapid deliveries we always
                    aim to exceed our customers' expectations.
                </div>
            </div>
            <div class="info-space2__infobox">
                <img src="https://images.unsplash.com/photo-1564182842834-681b7be6de4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="">
                <div class="img-title">WORLD CLASS ASSURANCE</div>
                <div class="img-desc">From an ISO 9001 quality system accredited by SGS to CE approved products,
                    comprehensive fire, acoustic and thermal tests through to the environmental standardISO 14001 and
                    the Occupational Health and Safety Management standard OHSAS 18001, you have the assurance of
                    dealing with a company that is setting industry leading standards in product testing and
                    compliances.</div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>