<app-header></app-header>
<div class="bg"></div>
<div class="contactus">
    <app-breadcrump crump="Home > About us > Contact Us" navText="Contact Us"></app-breadcrump>
    <div class="picspace"></div>
    <div class="info-space1">
        <div class="loc-space">
            <div class="loc-card">
                <div class="loc-card__left"></div>
                <div class="loc-card__right"></div>
            </div>
            <div class="loc-card">
                <div class="loc-card__left"></div>
                <div class="loc-card__right"></div>
            </div>
        </div>
        <div class="git"></div>
    </div>
    <div class="info-space2">
        <div class="info-space2__header">IF IT MATTERS WE MAKE IT</div>
        <div class="info-space2__body">
            <div class="serv-box">
                <div class="serv-box__title">MAIN SWITCHBOARD (NON-SALES)</div>
                <div class="serv-box__text">If you want to order any product or check on availability, price or
                    quantities, please contact our sales office who will be pleased to help.</div>
                <div class="serv-box__phone"><span class="fa fa-phone"></span> <span>0113 240 3456</span></div>
                <div class="serv-box__mail"><span class="fa fa-envelope"></span> <span>everbuild.reception@uk.sika.com</span></div>
            </div>
            <div class="serv-box">
                <div class="serv-box__title">MAIN SWITCHBOARD (NON-SALES)</div>
                <div class="serv-box__text">If you want to order any product or check on availability, price or
                    quantities, please contact our sales office who will be pleased to help.</div>
                <div class="serv-box__phone"><span class="fa fa-phone"></span> <span>0113 240 3456</span></div>
                <div class="serv-box__mail"><span class="fa fa-envelope"></span> <span>everbuild.reception@uk.sika.com</span></div>
            </div>
            <div class="serv-box">
                <div class="serv-box__title">MAIN SWITCHBOARD (NON-SALES)</div>
                <div class="serv-box__text">If you want to order any product or check on availability, price or
                    quantities, please contact our sales office who will be pleased to help.</div>
                <div class="serv-box__phone"><span class="fa fa-phone"></span> <span>0113 240 3456</span></div>
                <div class="serv-box__mail"><span class="fa fa-envelope"></span> <span>everbuild.reception@uk.sika.com</span></div>
            </div>
        </div>
    </div>
    <div class="info-space3">
            <div class="info-space3__header">BUILDMATE TEAM</div>
            <div class="info-space3__body">
                <div class="serv-box">
                    <div class="serv-box__title">CREDIT CONTROL MANAGER</div>
                    <div class="serv-box__mail"><span class="fa fa-envelope"></span> <span> everbuild.creditcontrol@uk.sika.com</span></div>
                </div>
                <div class="serv-box">
                    <div class="serv-box__title">HEAD OF FINANCE</div>
                    <div class="serv-box__mail"><span class="fa fa-envelope"></span> <span>  garrod.miles@uk.sika.com</span></div>
                </div>
                <div class="serv-box">
                    <div class="serv-box__title">R&D MANAGER</div>
                    <div class="serv-box__mail"><span class="fa fa-envelope"></span> <span>  evans.craig@uk.sika.com</span></div>
                </div>
            </div>
        </div>
    
    <app-footer></app-footer>
</div>