<app-header></app-header>
<div class="bg"></div>
<div class="contactus">
    <app-breadcrump crump="Home > About us > Contact Us" navText="Contact Us"></app-breadcrump>
    <div class="picspace"></div>
    <div class="info-space1">
        <div class="loc-space">
            <div class="loc-card">
                <div class="loc-card__left">
                    <div class="head">BuildMate Ghana</div>
                    <div class="phone"><span>Phone : </span><span></span></div>
                    <div class="addhead">Address</div>
                    <div class="address">
                        <div>Buildmate Specialist Product Limited</div>
                        <div>19 Kojo Thompson Road</div>
                        <div>Opp. F Malawi Eng.</div>
                        <div>Tudu Lebanon House</div>
                        <div>Accra- Ghana.</div>
                    </div>
                    <div class="head">BUILDMATE SPECIALIST PRODUCTS</div>
                    <div class="phone"><span>Phone : </span><span></span></div>
                    <div class="addhead">Address</div>
                    <div class="address">
                        <div>Buildmate Specialist Product Limited</div>
                        <div>19 Kojo Thompson Road</div>
                        <div>Opp. F Malawi Eng.</div>
                        <div>Tudu Lebanon House</div>
                        <div>Accra- Ghana.</div>
                    </div>
                </div>
                <div class="loc-card__right">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1985.5460051292032!2d-0.2087542144899632!3d5.553377368389418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf90a306898353%3A0x94549ebffa9a00e8!2sBUILDMATE%20GHANA!5e0!3m2!1sen!2sgh!4v1573493001816!5m2!1sen!2sgh"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> </div>
            </div>
            <!-- <div class="loc-card">
                <div class="loc-card__left">
                    <div class="head">BUILDMATE SPECIALIST PRODUCTS</div>
                    <div class="phone"><span>Phone : </span><span></span></div>
                    <div class="addhead">Address</div>
                    <div class="address">
                        <div>Buildmate Specialist Product Limited</div>
                        <div>19 Kojo Thompson Road</div>
                        <div>Opp. F Malawi Eng.</div>
                        <div>Tudu Lebanon House</div>
                        <div>Accra- Ghana.</div>
                    </div>
                </div>
                <div class="loc-card__right">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1464.407986266304!2d-0.20812040162033002!3d5.553360697080429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf91c089e0b439%3A0x8073713ec80d9e2f!2sBUILDMATE%20SPECIALIST%20PRODUCTS!5e0!3m2!1sen!2sgh!4v1573492741760!5m2!1sen!2sgh"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div> -->
        </div>
        <div class="git">
            <div class="head">Get In Touch</div>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder="phone">
                </div>
                <div class="form-group">
                    <label for="hwt">How can we help you today?</label>
                    <textarea type="text" class="form-control" id="hwt" placeholder="Write your message"></textarea>
                </div>
                <!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="info-space2">
        <div class="info-space2__header">IF IT MATTERS WE MAKE IT</div>
        <div class="info-space2__body">
            <div class="serv-box">
                <div class="serv-box__title">MAIN SWITCHBOARD (NON-SALES)</div>
                <div class="serv-box__text">If you want to order any product or check on availability, price or
                    quantities, please contact our sales office who will be pleased to help.</div>
                <div class="serv-box__phone"><span class="fa fa-phone"></span> <span>0113 240 3456</span></div>
                <div class="serv-box__mail"><span class="fa fa-envelope"></span>
                    <span>everbuild.reception@uk.sika.com</span></div>
            </div>
            <div class="serv-box">
                <div class="serv-box__title">MAIN SWITCHBOARD (NON-SALES)</div>
                <div class="serv-box__text">If you want to order any product or check on availability, price or
                    quantities, please contact our sales office who will be pleased to help.</div>
                <div class="serv-box__phone"><span class="fa fa-phone"></span> <span>0113 240 3456</span></div>
                <div class="serv-box__mail"><span class="fa fa-envelope"></span>
                    <span>everbuild.reception@uk.sika.com</span></div>
            </div>
            <div class="serv-box">
                <div class="serv-box__title">MAIN SWITCHBOARD (NON-SALES)</div>
                <div class="serv-box__text">If you want to order any product or check on availability, price or
                    quantities, please contact our sales office who will be pleased to help.</div>
                <div class="serv-box__phone"><span class="fa fa-phone"></span> <span>0113 240 3456</span></div>
                <div class="serv-box__mail"><span class="fa fa-envelope"></span>
                    <span>everbuild.reception@uk.sika.com</span></div>
            </div>
        </div>
    </div>
    <div class="info-space3">
        <div class="info-space3__header">BUILDMATE TEAM</div>
        <div class="info-space3__body">
            <div class="serv-box">
                <div class="serv-box__title">CREDIT CONTROL MANAGER</div>
                <div class="serv-box__mail"><span class="fa fa-envelope"></span> <span>
                        everbuild.creditcontrol@uk.sika.com</span></div>
            </div>
            <div class="serv-box">
                <div class="serv-box__title">HEAD OF FINANCE</div>
                <div class="serv-box__mail"><span class="fa fa-envelope"></span> <span> garrod.miles@uk.sika.com</span>
                </div>
            </div>
            <div class="serv-box">
                <div class="serv-box__title">R&D MANAGER</div>
                <div class="serv-box__mail"><span class="fa fa-envelope"></span> <span> evans.craig@uk.sika.com</span>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>