.search {
  margin-top: 20rem;
  @media screen and (max-width:600px) {
    margin-top: 15rem;
  }
  position: relative;
  background-color: var(--black);
  .search-body {
    padding: 2rem;
    position: relative;
    top: -11rem;
    margin-bottom: -10rem;
    display: flex;
    overflow: hidden;
    &__left {
      height: 100%;
      .navbox {
        position: fixed;
        height: calc(100vh - 30rem);
        z-index: 1;
        &__head {
          text-align: center;
          font-size: 1.8rem;
          font-weight: bolder;
          text-transform: uppercase;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        &__body {
          margin-top: 3rem;
          height: calc(100% - 3rem);
          overflow: auto;
        }
        width: 25rem;
        background-color: white;
        // height: 60rem;
        overflow-y: auto;

        @media screen and (max-width:1000px){
          display: none;
        }
  
      }
    }
    &__right {
      flex-grow: 1;
      position: relative;
      margin-top: 11rem;
      margin-left: 27rem;
      @media screen and (max-width:1000px){
        margin-left: 0px;
      }
      width: calc(100% - 26rem);
      overflow: hidden;
      .searchedproducts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: calc(100vh - 30rem);
        &__body {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        .emptymsg{
          color: white;
          font-size: 2rem;
          text-transform: uppercase;
          letter-spacing: .3rem;
        }
      }
    }
  }

  app-footer {
    display: block;
    position: relative;
    z-index: 100;
  }
}
