<app-header></app-header>
<div class="bg"></div>
<div class="home">
    <div class="pcarousel">
        <!-- <div class="left-over">
            <div class="left-over__text">BuildMate Professional sealant</div>
            <button class="left-over__btn btn btn-secondary">Discover more now</button>
        </div> -->
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="pnewproducts">
        <div class="pnewproducts__header">New Products</div>
        <div *ngIf="newProducts" class="pnewproducts__body">
            <a [routerLink]="['/productdesc',product.productId]" *ngFor="let product of newProducts" class="prod-container">
                <div class="prod-container__body">
                    <div class="prod-image">
                        <img [src]="product.imageUrl" alt="prod-Image">
                    </div>
                </div>
                <div class="prod-container__footer">
                    <div class="text">{{product.productName}}</div>
                </div>
            </a>
        </div>
    </div>
    <div class="pworldclass">
        <div class="pworldclass__left">
                To introduce a modern way of building by providing special pragmatic solutions
                to solve every construction problem and to provide quality products which
                meets our customers needs more effectively.
        </div>
        <div class="pworldclass__right">
            <div class="pworldclass__right--header">World Class Assurance</div>
            <div class="pworldclass__right--body"></div>
        </div>
    </div>
   
    <div class="platestvideos">
        <div class="platestvideos__header">Latest Videos</div>
        <div *ngIf="latestVideos" class="platestvideos__body">
            <a [routerLink]="['/videodesc',video.videoId]" *ngFor="let video of latestVideos" class="vid-container">
                <div class="vid-container__body">
                    <div class="vid-image">
                        <img [src]="video.thumbnailUrl" alt="vid-Image">
                    </div>
                </div>
                <div class="vid-container__footer">
                    <div class="text">{{video.videoName}}</div>
                </div>
            </a>
        </div>
    </div>
    <div class="pultimate">
        <!-- <div class="pultimate__left">
            <img src="../../assets/images/book.png" alt="">
        </div> -->
        <div class="pultimate__right">
            <div class="pultimate__right--header">
                <!-- <h1>New Ultimate</h1>
                <h1>Product Catalogue</h1> -->
            </div>
            <div class="pultimate__right--body"></div>
        </div>

    </div>
    <app-footer></app-footer>

</div>

