<app-header></app-header>
<div class="history">
    <app-breadcrump crump="Home > About us > History" navText="History"></app-breadcrump>
    <div class="historyspace">
        <div class="historyspace--left">
                <img src="../../../assets/buildmate/banners/1.jpg"
                alt="">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbuildmategh%2Fvideos%2F2371474426398814%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>                <img src="../../../assets/buildmate/banners/2.jpg"
                alt="">

        </div>
        <div class="historyspace--right">
                <span>Buildmate Specialist Products Limited was founded by a Ghanaian family called
                        Nuako, in Ghana. It was called Bizzel Enterprise in its early stages of business in 2008.
                        The main objective of the business then, was importing paint from Thailand.
                        However, Influenced by the nature of the construction industry in the country, the
                        company saw an opportunity window to move into the trend of building construction
                        material. The company realized that customers needed other things beyond the scope of
                        paints, therefore decided to go into building chemicals like sealant, water proofing, add
                        mixtures, bonding agents, special mortars amongst others.</span>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
        
               
                <span>In 2014 the company’s name was changed to Buildmate Specialist Product Limited. The
                        company kept growing as a business, venturing into other aspects of construction
                        such as plasters, ceilings and special mortars. In no time Buildmate saw other
                        opportunities in decorations. Soon the company was dealing in special effects for
                        buildings such as wall papers and special effect paints.</span>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
        
                <span>Since the expansion of the business, Buildmate has become the one stop shop for
                        special building construction products. Although the company started as a paint
                        brand, it is now the leading company in the sector of special chemicals for
                        construction in Ghana.
                        Buildmate partners with foreign suppliers such as Sherwin-Williams, Sika,
                        SODA Building Services, Danosa amongst others.</span>
                <p>&nbsp;</p>
        
        
                <!-- <img src="../../../assets/buildmate/banners/5.jpg"
                    alt=""> -->
                <span>With a supply chain of over 5000 different building product, Buildmate
                        currently has products circulating all over the ten regions of Ghana. Aside
                        importing other branded products from other foreign companies, Buildmate has
                        its own in-house products such as SUPER CROWN; their flagship product,
                        Europlaster, Europlaster boards, Europlaster p.o.p amongst others.</span>
        
                <div class="nb">The company has endeavored to be a part of most major construction projects in
                        Ghana, covering a wide scope of both private and governmental construction
                        projects in the country.
                        Buildmate is located at Tudu -Accra, Ghana and it is equipped with two
                        warehouses; Amasaman on the Kumasi road and one at Achimota.</div>
        </div>
        
       
    </div>
    <app-footer></app-footer>
</div>