<app-header></app-header>
<div class="history">
    <app-breadcrump crump="Home > About us > History" navText="History"></app-breadcrump>
    <div class="historyspace">
        <img src="https://images.unsplash.com/photo-1526290766257-c015850e4629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="">
        <span>Everbuild was founded by self-confessed DIY-addict David Seymour in February 1994. David grew Everbuild on
            the
            back of strong branding, innovations, excellent stock availability and a strong manufacturing capacity.
            Everbuild was quickly able to establish a strong position in the Builders Merchants and DIY sectors through
            an
            ability to move quickly and adapt to markets, something others had traditionally struggled to
            achieve.</span>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <img src="https://images.unsplash.com/photo-1526290766257-c015850e4629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="">
        <span>Over the years Everbuild grew rapidly primarily through launching innovative products to the market place
            that
            brought the ‘smile factor’, these include products such as Pinkgrip, Wonder Wipes, Stixall and Forever
            White.
            All of these and more quickly became market leading brand names, instantly recognisable. Everbuild success
            continued across the years and soon the company was established as the UK and Ireland’s largest independent
            manufacturer of sealants, adhesives, fillers and building chemicals. By 2013 the company had grown to have
            sales
            in excess of £60 million and a workforce of 270 employees.</span>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <span>In June 2013 it was announced that Sika had acquired Everbuild with David Seymour commenting “With Sika we
            have
            the possibility to further grow our business and to benefit from the broad R&D capabilities for further
            product
            innovation”. The acquisition also aimed to strengthened Sika’s position in the construction chemical and DIY
            market further in the UK giving customers an even wider selection of products to choose from.</span>
        <p>&nbsp;</p>


        <img src="https://images.unsplash.com/photo-1526290766257-c015850e4629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="">
        <span>Sika AG, located in Baar, Switzerland, is a globally active specialty chemicals company. Sika supplies the
            building and construction industry as well as manufacturing industries (automotive, bus, truck, rail, solar
            and
            wind power plants, façades). Sika’s product lines feature high-quality concrete admixtures, specialty
            mortars,
            sealants and adhesives, damping and reinforcing materials, structural strengthening systems, industrial
            flooring
            as well as roofing and waterproofing systems.</span>

        <div class="nb">Together the Sika and Everbuild brands can be found throughout the DIY and Building industry –
            providing products for jobs small and large.</div>
    </div>
    <app-footer></app-footer>
</div>