.history {
  margin-top: 15rem;
  position: relative;
  background-color: var(--black);
  .historyspace{
    background-color: white;
    border-radius: .3rem;
    margin: 2rem;
    padding:2rem;
    display: flex;
    &--left{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      &>*{
        margin: 1rem;
        width: 40rem;
      }
      iframe{
        height: 22rem;
      }
    }
    &--right{
      padding:2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height:100%;
    }
  }
}
