.history {
  margin-top: 20rem;
  @media screen and (max-width:600px) {
    margin-top: 15rem;
  }

  position: relative;
  background-color: var(--black);
  .historyspace{
    background-color: white;
    border-radius: .3rem;
    margin: 2rem;
    padding:2rem;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    &--left{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
      height: 100%;
      overflow: hidden;
      &>*{
        margin: 1rem;
        //width: 40rem;
      }
      iframe{
        width:100%;
      }
    }
    &--right{
      padding:2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
      height:100%;
    }
  }
}
