<app-header></app-header>
<div class="videos">
    <app-breadcrump crump="Home > Videos" navText="videos"></app-breadcrump>
    <div class="videos__head">Buidmate</div>
    <div class="videos__body">
        <div class="allvideos">
            <div class="vid-container">
                <div class="vid-container__body">
                    <div class="vid-image">
                        <img src="../../assets/buildmate/DIY/1.jpg" alt="vid-Image">
                    </div>
                </div>
                <div class="vid-container__footer">
                    <div class="text">ALARMS AND BATTERY BACK UPS/BATBACK</div>
                </div>
            </div>
            <div class="vid-container">
                <div class="vid-container__body">
                    <div class="vid-image">
                        <img src="../../assets/buildmate/DIY/1.jpg" alt="vid-Image">
                    </div>
                </div>
                <div class="vid-container__footer">
                    <div class="text">ALARMS AND BATTERY BACK UPS/BATBACK</div>
                </div>
            </div>
            <div class="vid-container">
                <div class="vid-container__body">
                    <div class="vid-image">
                        <img src="../../assets/buildmate/DIY/1.jpg" alt="vid-Image">
                    </div>
                </div>
                <div class="vid-container__footer">
                    <div class="text">ALARMS AND BATTERY BACK UPS/BATBACK</div>
                </div>
            </div>
            <div class="vid-container">
                <div class="vid-container__body">
                    <div class="vid-image">
                        <img src="../../assets/buildmate/DIY/1.jpg" alt="vid-Image">
                    </div>
                </div>
                <div class="vid-container__footer">
                    <div class="text">ALARMS AND BATTERY BACK UPS/BATBACK</div>
                </div>
            </div>
            <div class="vid-container">
                <div class="vid-container__body">
                    <div class="vid-image">
                        <img src="../../assets/buildmate/DIY/1.jpg" alt="vid-Image">
                    </div>
                </div>
                <div class="vid-container__footer">
                    <div class="text">ALARMS AND BATTERY BACK UPS/BATBACK</div>
                </div>
            </div>
            <div class="vid-container">
                <div class="vid-container__body">
                    <div class="vid-image">
                        <img src="../../assets/buildmate/DIY/1.jpg" alt="vid-Image">
                    </div>
                </div>
                <div class="vid-container__footer">
                    <div class="text">ALARMS AND BATTERY BACK UPS/BATBACK</div>
                </div>
            </div>

        </div>
    </div>
    <app-footer></app-footer>
</div>